.app-c-content-block-manager-opening-hours-item-component {
  .gem-c-fieldset {
    margin: 0;
    padding: 0 0 govuk-spacing(2);
  }

  &__input-group {
    // stylelint-disable-next-line scss/at-extend-no-missing-placeholder
    @extend .govuk-date-input;
  }

  &__input-item {
    // stylelint-disable-next-line scss/at-extend-no-missing-placeholder
    @extend .govuk-date-input__item;

    &--time {
      // stylelint-disable-next-line max-nesting-depth
      select {
        // stylelint-disable-next-line scss/at-extend-no-missing-placeholder
        @extend .govuk-input--width-3;
        min-width: 0;
      }
    }
  }

  &__time-group {
    // stylelint-disable-next-line scss/at-extend-no-missing-placeholder
    @extend .govuk-date-input__item;

    &--error {
      // stylelint-disable-next-line scss/at-extend-no-missing-placeholder
      @extend .govuk-form-group--error;
    }
  }
}
